<h1 align="center">Showing article by: <%= @user.username %> </h1>
<div class="row" style="margin:40px">
  <div align="center">
    <%= gravatar_for @user, size: 150 %>
    <h4><%= @user.username %>'s Avatar </h4>
    <div class="row">
      <div class="article-buttons">
        <%= link_to "All Users", users_path, class: "btn btn-xs btn-success" %>
        <% if logged_in? && (current_user == @user || current_user.admin == true)  %>
          <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-xs btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div align="center">
  <%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div align="center">
  <%= will_paginate @user_articles %>
</div>
  