<h1 align="center">Showing article by: <%= @user.username %> </h1>
<div class="row" style="margin:40px">
  <div align="center">
    <%= gravatar_for @user, size: 150 %>
    <h4><%= @user.username %>'s Avatar </h4>
  </div>
</div>

<div align="center">
  <%= will_paginate @user_articles %>
</div>
<%= render '/articles/article', obj: @user_articles %>
<div align="center">
  <%= will_paginate @user_articles %>
</div>
  